library ieee;
use ieee.std_logic_1164.all;
use ieee.numeric_std.all;
use ieee.math_real.all;


entity rom is
    port(clk_i  : in std_ulogic;
         addr_i : in std_ulogic_vector({addrwidth} downto 0);
         data_o : out std_ulogic_vector({datawidth} downto 0)
   );
end entity;


architecture BEHAV of rom is
    type memory is array (0 to {elements}) of std_ulogic_vector({datawidth} downto 0);
    constant romtab : memory := (
{datablock}
        );
begin

    READ_PROC: process(clk_i)
    begin
        if rising_edge(clk_i) then
            data_o <= romtab(to_integer(unsigned(addr_i)));
        end if;
    end process;

end architecture;
